version: '3.9'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000  # ← запуск на 8000
    volumes:
      - .:/code
      - static_volume:/code/static
    ports:
      - "8000:8000"  # ← поменяй на 8000:8000
    depends_on:
      - db
    env_file:
      - .env

  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web

  db:
    image: postgres:16.0
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:  # ← используй environment вместо env_file
      POSTGRES_USER: ${USER_BD}
      POSTGRES_PASSWORD: ${PASSWORD_BD}
      POSTGRES_DB: ${NAME_BD}
    expose:
      - "5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_BD}"]  # ← поменяй на USER_BD
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  postgres_data:
  static_volume:
